@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

@theme {
  --color-custom-orange: #ea850e;
  --color-custom-gold: #e2a516;
  --color-custom-cyan: #6cbbdc;
  --color-custom-navy: #5665ed;
  --color-light-gray-blue: #8eaee5;
}
